.Home_container{
  height: calc(100vh - 4rem);
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Home_cardContainer{
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Home_pokebutton{
  margin: 1rem;
  width: 30%;
}

.Card_img {
  max-width: 20rem;
  padding: 3rem;
}