.Home_container{
  height: calc(100vh - 4rem);
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Home_cardContainer{
  width: 80%;
  height: calc(100% - 5rem);

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Home_pokebutton{
  margin: 1rem;
  height: 3rem;
}

.Card_img {
  max-width: 20rem;
  padding: 3rem;
}

.bg-grey {
  background-color: rgb(231, 229, 229);
  border-radius: 1rem;
  border: 2px solid rgb(196, 196, 196);
  margin: 1rem;
}

.Home_pokemonChainImg > img {
  transition: .1s;
  cursor: pointer;
}

.Home_pokemonChainImg > img:hover {
  transform: scale(1.1);
  transition: .1s;
}
